# Virtual Environments
.venv/
venv/
env/

# Python Cache (Recursive)
**/__pycache__/
**/*.py[cod]
**/*$py.class

# Databases
*.db
*.sqlite3

# Tests (Note: Usually tests are kept in Git, but removing as requested)
tests/